/* src/components/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.app-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app-header.menu {
  background-color: #282c34;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.app-header.centered {
  justify-content: center; /* Alinea al centro */
} 

.app-header.left-aligned {
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin: 0 0 0 10px; /* Espacio entre el ícono y el título */
}

.user-session {
  position: absolute;
  right: 20px; /* Alinea el ícono y botón a la derecha */
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el ícono y el botón */
}

.user-session i {
  font-size: 2rem; /* Tamaño del ícono */
}

.user-session button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
}

.user-session button:hover {
  text-decoration: underline;
}

.app-main {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.app-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

p {
  margin: 0;
}
